.page_form {
    width: 230px;
    height: 300px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_form button {
    width: 120px;
    height: 25px;
}
.page_form input {
    outline: none;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}